
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}



#p1{
    font-size: 3.1rem;
}

#p2{
    font-size: 2.5rem;
}
 /* div {
    display: block;
}  */
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carousel-caption{
    font-size: 2.9rem;
    height: 29rem;
} 

.s1{

    background-image: linear-gradient(to right,white,black);
}

.card{
    margin-right: 2rem;
    margin-bottom: 1rem;
}