
<br>
<br>
<div class="container">

<h3>Employee Details</h3>
<br>
<div class="box">
    
    <div>

      <img src="../assets/download.jpg">
    </div>
<div >
    <table  class=" table table-responsive table-striped  border-dark  thead-dark ">
        <thead class=" table-dark thead-dark">        
        <tr>
          <th  scope="col">Attribute</th>
          <th  scope="col">Value</th>
        </tr>

    </thead>

    <tbody>
    <tr>
          <td><b>Id</b></td>
          <td>{{employee.id}}</td>
        </tr>
        <tr>
          <td><b>First Name</b></td>
          <td>{{employee.fname}}</td>
        </tr>
        <tr>
          <td><b>Last Name</b></td>
          <td>{{employee.lname}}</td>
        </tr>
        <tr>
          <td><b>Email</b></td>
          <td>{{employee.email}}</td>
        </tr>
        <tr>
          <td><b>Salary</b></td>
          <td>{{employee.salary}}</td>
        </tr>
        <tr>
          <td><b>Department</b></td>
          <td>{{employee.department}}</td>
        </tr>
        <tr>
          <td><b>Designation</b></td>
          <td>{{employee.designation}}</td>
        </tr>
        <tr>
          <td><b>Joining Date</b></td>
          <td>{{employee.joiningDate}}</td>
        </tr>

    </tbody>    
      </table>

      <a routerLink="/updating-by-id/{{employee.id}}" class="btn btn-secondary">Update Details</a>
</div>
    
</div>

</div>
